<div>
    <div class="modal-header">
        <h3 class="modal-title">{{card.card_title}}</h3>
    </div>
    <div class="modal-body">
        <div class="card-cont"><img src="images/cards/{{card.card_image}}" alt=""></div>
        <form>
            <div class="form-group">
                <label>To:</label>
                <input type="text" class="form-control" id="card-send-name" placeholder="Name">
                <input type="text" class="form-control" id="card-send-email" placeholder="E-mail">
                <label>From:</label>
                <input type="text" class="form-control" id="card-send-name" placeholder="Name">
                <input type="text" class="form-control" id="card-send-email" placeholder="E-mail">
                <label>Message</label>
                <textarea ng-model="name" class="form-control" placeholder="Enter your message"></textarea>
            </div>
        </form>
        <button class="btn btn-primary" type="button" ng-click="send()">Send</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
</div>
