.heart {
    animation: heart-clicked ease-in-out 0.8s;
    animation-iteration-count: 1;
    fill: #D32F2F!important;
}

@keyframes heart-clicked {
    0% {
        transform: scaleX(1.00) scaleY(1.00);
    }
    12% {
        transform: scaleX(0.80) scaleY(0.80);
    }
    19% {
        transform: scaleX(0.70) scaleY(0.70);
    }
    31% {
        transform: scaleX(1.20) scaleY(1.20);
    }
    50% {
        transform: scaleX(1.00) scaleY(1.00);
    }
    100% {
        transform: scaleX(1.00) scaleY(1.00);
        fill: #D32F2F!important;
    }
}

.heart-icon {
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    margin-bottom: -3px;
    margin-left: 1px;
    &:hover {
        cursor: pointer;
        fill: #777;
    }
}
