.jumbotron {
    background: #99cccc;
    color: #fff;
    padding-top: 8em;
    padding-bottom: 4em;
    text-align: center;
    a {
      color: white;
      display: inline-block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .jumbo-half {
        width: 50%;
        text-align: right;
        display: inline-block;
    }
    .jumbo-img-cont {
    	width: 40%;
    	display: inline-block;
    	padding-left: 20%;
    	img {
    		width: 70%
    	}
    }
}

.upcoming-row {
    display: block;
    padding-bottom: 15px;
    padding-right: 15px;
}

.card-thumbnail {
    width: 100%;
    img {
        width: 100%;
    }
}

body {
    background: #e8f1f5;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, 0.04);
}



.btn-trans {
    background: rgba(0,0,0,0);
    border: solid 1px white;
    box-shadow: none;
}
p.lead {
    font-weight: 400;
}