

/* LISTS */

.list-group-item {
    margin-left: 0px;
    padding-left: 0;
    p {
        margin-left: 15px;
    }
    h4 {
        margin-left: 15px;
    }
    .list-group-item-text {
        line-height: 18px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    .list-group-item-heading:last-child,
    .list-group-item-text:last-child {
        margin-bottom: 0;
    }
    .row div > .list-group-item-heading:last-child,
    .row div > .list-group-item-text:last-child {
        margin-bottom: 5px;
    }
    .row div:last-child > .list-group-item-heading:last-child,
    .row div:last-child > .list-group-item-text:last-child {
        margin-bottom: 0;
    }
    img {
        height: 40px;
        width: 40px;
        margin-right: 15px;
    }
    i {
        opacity: 0.3;
        width: 40px;
        text-align: center;
        margin-right: 15px;
    }
}

a.list-group-item {
    cursor: pointer;
    &:hover,
    &:active,
    &.active,
    &.active:hover,
    &.active:focus {
        margin-left: 0;
        padding-left: 15px;
    }
}

.panel > .list-group .list-group-item:last-child {
    border-bottom: 0;
}





/* List - Subheadings */

.list-group-item.bootcards-list-subheading {
    margin-left: 0;
    padding-left: 15px;
    font-weight: 500;
    font-size: 14px;
    z-index: 6;
}

a.list-group-item.bootcards-list-subheading {
    padding-left: 40px;
    &:before {
        font-family: 'FontAwesome';
        content: '';
        position: absolute;
        left: 15px;
        top: 50%;
        font-size: 14px;
        line-height: 14px;
        margin-top: -7px;
        color: #ccc;
    }
    &.collapsed:before {
        content: '';
    }
}


/* List - AZ Picker */

.bootcards-az-picker {
    position: fixed;
    width: 25px;
    margin: 0 0 0 -26px;
    padding: 0;
    list-style: none;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #ffffff;
    padding-bottom: 50px;
    padding-top: 5px;
    li {
        font-size: 11px;
        font-weight: 500;
        text-align: center;
        padding: 0;
        background: #ffffff;
        height: 3.846%;
        /* 100% / 26 */
    }
    a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        &:hover {
            text-decoration: none;
        }
    }
    @media only screen and (min-device-width: 480px) and (max-device-width: 767px) and (orientation: landscape) {
        li {
            height: 7.692%;
            /* 100% / 13 */
            &:nth-child(even) {
                display: none;
                /* hide every other letter on smartphones/landscape */
            }
        }
    }
}


/* List - Search Form */

.bootcards-list {
    .form-group {
        position: relative;
        margin-bottom: 0;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    form,
    .search-form {
        input {
            padding-left: 32px;
        }
        .btn {
            color: white;
        }
        i.fa-search {
            position: absolute;
            left: 12px;
            top: 10px;
            color: #999;
            font-size: 14px;
        }
    }
}


/* FOOTER */

.bootcards-desktop-footer {
    display: none;
}


/* CARDS */

.panel-default .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body > *:last-child {
    margin-bottom: 0;
}

.panel-footer {
    overflow: hidden;
}

.panel-footer small,
.modal-footer small {
    color: #aaa;
    display: block;
    text-align: center;
    line-height: 22px;
    /* Line up vertically with .btn */
}

.list-group + .panel-footer {
    border-top-width: 1px;
    /* ML: panel-footer has a top border, but that's removed by Bootstrap if there's a list-group before it. We restore it here. */
}


/* FORM CARD */

.btn label {
    margin: 0;
    font-weight: inherit;
    cursor: pointer;
}

.bootcards-clearinput {
    position: absolute;
    right: 0;
    top: 11px;
    color: #ccc;
    display: block;
    font-size: 0;
}

.bootcards-clearinput i {
    line-height: 1;
    font-size: 18px;
}

.form-horizontal .form-group div div {
    padding: 0;
}


/* Toggle – based on Ratchet.css */

.bootcards-toggle {
    position: relative;
    display: block;
    width: 74px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #ddd;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: background-color, border;
    -moz-transition-property: background-color, border;
    transition-property: background-color, border;
}

.bootcards-toggle .bootcards-toggle-handle {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: -webkit-transform, border, width;
    -moz-transition-property: -moz-transform, border, width;
    transition-property: transform, border, width;
}

.bootcards-toggle:before {
    position: absolute;
    top: 3px;
    right: 11px;
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    content: "Off";
}

.bootcards-toggle.active {
    background-color: #5cb85c;
    border: 2px solid #5cb85c;
}

.bootcards-toggle.active .bootcards-toggle-handle {
    border-color: #5cb85c;
    -webkit-transform: translate3d(44px, 0, 0);
    -ms-transform: translate3d(44px, 0, 0);
    transform: translate3d(44px, 0, 0);
}

.bootcards-toggle.active:before {
    right: auto;
    left: 15px;
    color: #fff;
    content: "On";
}

.bootcards-toggle input[type="checkbox"] {
    display: none;
}


/* CALENDAR */

.bootcards-calendar {
    margin-top: -15px;
    background: white;
}

.bootcards-calendar .fc-header-left,
.bootcards-calendar .fc-header-right {
    padding: 15px;
}

.bootcards-calendar .fc-header-title h2 {
    margin: 0;
}

.bootcards-calendar .fc-content th:first-child,
.bootcards-calendar .fc-content td:first-child {
    border-left-width: 0;
}

.bootcards-calendar .fc-content th:last-child,
.bootcards-calendar .fc-content td:last-child {
    border-right-width: 0;
}

.bootcards-calendar .fc-header-title h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #8f8f94;
    font-weight: 400;
    margin: 0;
    padding: 8px 0;
    line-height: 20px;
}

.bootcards-calendar .fc-header-left,
.bootcards-calendar .fc-header-right {
    padding: 0 10px;
}

.bootcards-calendar .fc-button .fc-icon {
    margin: 0;
}

.bootcards-calendar .fc-header .fc-button {
    background: transparent;
    box-shadow: none;
    border-color: transparent;
    margin: 0;
    height: 44px;
    line-height: 40px;
    font-size: 16px;
    text-shadow: none;
    padding: 0;
}

.bootcards-calendar .fc-header-left .fc-button {
    margin-right: 10px;
}

.bootcards-calendar .fc-header-right .fc-button {
    margin-left: 10px;
}

.bootcards-calendar .fc-icon-left-single-arrow:after,
.bootcards-calendar .fc-icon-right-single-arrow:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: normal;
}

.bootcards-calendar .fc-icon-left-single-arrow:after {
    content: '';
}

.bootcards-calendar .fc-icon-right-single-arrow:after {
    content: '';
}

.bootcards-calendar .fc-header .fc-button.fc-state-disabled {
    color: #AAA;
    opacity: 1;
}

.bootcards-calendar .fc-header .fc-button.fc-state-active {
    color: #AAA;
}

.bootcards-calendar .fc-day-header {
    font-weight: 400;
    font-size: 12px;
    border-left-color: transparent;
    padding: 5px 0;
    padding-right: 3px;
}

.bootcards-calendar .fc-event {
    background: #007aff;
    border-color: #007aff;
}

.bootcards-calendar .fc-today {
    background: #FFF2F2;
}


/* TABLE CARD */

.table > thead > tr > th:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {
    padding-left: 15px;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > th:last-child,
.table > tfoot > tr > th:last-child,
.table > thead > tr > td:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child {
    padding-right: 15px;
}


/* FILE CARD */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?-n2q9vw');
    src: url('../fonts/icomoon.eot?#iefix-n2q9vw') format('embedded-opentype'), url('../fonts/icomoon.woff?-n2q9vw') format('woff'), url('../fonts/icomoon.ttf?-n2q9vw') format('truetype'), url('../fonts/icomoon.svg?-n2q9vw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-file-pdf:before {
    content: "\e4e2";
}

.icon-file-word:before {
    content: "\e4e4";
}

.icon-file-excel:before {
    content: "\e4e5";
}

.icon-file-powerpoint:before {
    content: "\e4e7";
}

.icon-file:before {
    content: "\e08d";
}

.bootcards-file .list-group-item:first-child {
    position: relative;
    padding-left: 74px;
}

.bootcards-file .list-group-item:first-child i {
    font-size: 64px;
    width: 64px;
    position: absolute;
    left: 0;
    top: 10px;
}

.bootcards-file .list-group-item *:last-child {
    margin-bottom: 0;
}


/* CHART CARD */

.bootcards-chart .bootcards-chart-canvas {
    height: 200px;
}


/* SUMMARY CARD */

.bootcards-summary .panel-body {
    padding: 7px 25px;
}

.bootcards-summary .panel-body > .row > div {
    padding: 8px;
}

.bootcards-summary-item {
    background: #f5f5f5;
    display: block;
    padding: 25px 10px;
    text-align: center;
    position: relative;
    height: 130px;
}

@media (max-width:400px) {
    .bootcards-summary-item {
        padding: 15px 5px;
    }
}

.bootcards-summary-item:hover {
    text-decoration: none;
    background: #eee;
}

.bootcards-summary-item > i {
    color: #bbb;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.bootcards-summary-item h4 {
    margin: 0 auto;
}

.bootcards-summary-item .badge,
.bootcards-summary-item .label {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* RICH TEXT CARD */

.bootcards-richtext > .panel-body {
    padding: 25px;
    max-width: 640px;
    margin: 0 auto;
}

.bootcards-richtext > .panel-body > *:first-child {
    margin-top: 0;
}


/* ALERTS & DIALOGS */

@media (max-width: 767px) {
    .modal-dialog.modal-sm {
        margin: 15px;
    }
}

@media (min-width: 768px) {
    .modal-dialog.modal-sm {
        width: 400px;
    }
}

// Colors
.panel {
    h5 {
        color: #999;
    }
}

.birthday_panel {
    button.btn {
        background: #3EC1D3;
        color: white;
    }
    .birthday_heading {
        background: #fff;
        border-top: 2px solid #3EC1D3;
        border-bottom: none;
        background-repeat: no-repeat;
        background-position: 98% 40%;
        background-size: 25px 25px;
    }
}

.baby_panel {
    button.btn {
        background: #11D3BC;
        color: white;
    }
    .baby_heading {
        background: #fff;
        border-top: 2px solid #11D3BC;
        border-bottom: none;
        background-repeat: no-repeat;
        background-position: 99.9% 58%;
        background-size: 35px 35px;
    }
}

.christmas_heading {
    background-repeat: no-repeat;
    background-position: 99.9% 5px;
    background-size: 35px 35px;
}

.christmas_panel {
    button.btn {
        background: #E94822;
        color: white;
    }
    .christmas_heading {
        background-color: #fff;
        border-top: 2px solid #E94822;
        border-bottom: none;
        background-repeat: no-repeat;
        background-position: 98% 40%;
        background-size: 25px 25px;
    }
}

.halloween_panel {
    button.btn {
        background: #F2910A;
        color: white;
    }
    .halloween_heading {
        background-color: #fff;
        border-top: 2px solid #F2910A;
        border-bottom: none;
        background-repeat: no-repeat;
        background-position: 98% 40%;
        background-size: 25px 25px;
    }
}

.valentines_panel {
    button.btn {
        background: #e81d62;
        color: white;
    }
    .valentines_heading {
        background-color: #fff;
        border-top: 2px solid #e81d62;
        border-bottom: none;
        background-repeat: no-repeat;
        background-position: 98% 40%;
        background-size: 25px 25px;
    }
}

.job_panel {
    button.btn {
        background: #9b59b6;
        color: white;
    }
    .job_heading {
        background-color: #fff;
        border-top: 2px solid #9b59b6;
        border-bottom: none;
        background-repeat: no-repeat;
        background-position: 98% 40%;
        background-size: 25px 25px;
    }
}






.hearts {
    margin-top: 25px;
    .panel_icon {
        width: 6%;
        display: inline;
        margin-right: 4px;
    }
    p {
        display: inline;
        color: #999;
        line-height: 35px;
    }
}

.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

svg:not(:root) {
    overflow: visible;
}

.heart {
    transition: all 0.3s ease-in;
    &:hover {
        fill: #D32F2F;
    }
}

.btn-stretch {
    width: 100%;
    box-shadow: none;
}