.footer {
    font-family: 'Roboto';
    background: $dark-bg;
    padding-top: 2em;
    color: white;
    ul {
        list-style-type: none;
        padding-left: 0px!important;
        li {
            a {
                color: white;
            }
        }
    }
    h4 {
        padding-bottom: 0.4em;
        border-bottom: 1px white solid;
    }
    h5 {
        margin-bottom: 0;
        margin-top: 0;
    }
    label {
        text-align: right!important;
    }
}
