.navbar-default {
    background: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: $dark-bg;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand a {
    color: $dark-bg;
}

.navbar-collapse {
    .nav {
        li.active {
            border-bottom: #fff 2px solid;
            color: red!important;
            color: $dark-bg;
        }
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #fff!important;
    border-bottom: #E94822 2px solid;
    color: #E94822;
}
