.cards-row {
    .panel-title {
        line-height: 32px;
    }
    .row-title {
        padding-left: 15px;
    }
    .row-subhead {
        padding-left: 15px;
        padding-bottom: 15px;
        display: inline;
    }
    p.sub {
        display: inline;
        color: #999;
    }
    hr.main-hr {
        margin-left: 15px;
        margin-right: 15px;
    }
}

h1,
h2,
{
    font-family: 'Roboto', serif;
}

h2 {
    font-size: 36px;
    position: relative;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0 auto;
    z-index: 3;
}

.h2_cont {
    padding: 15px;
    width: auto;
}

h2 {
    text-align: center;
}

p,
a {
    font-family: 'Roboto', sans-serif;
}

.list-group-item-text {
    margin-top: 0.9em!important;
    margin-bottom: 0.3em;
}
