$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: #212121 !default;
$gray: #666 !default;
$gray-light: #bbb !default;
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$brand-primary: #2196F3 !default;
$brand-success: #4CAF50 !default;
$brand-info: #9C27B0 !default;
$brand-warning: #ff9800 !default;
$brand-danger: #e51c23 !default;
$dark-bg: #393E41;
