<div class="container">
    <div class="col-lg-4 col-md-6 col-sm-12 tile grid-item">
        <div class="panel panel-default christmas_panel">
            <div class="list-group">
                <div class="card-thumbnail">
                    <img src="images/cards/present_yourself.png" alt=""> </div>
                <div class="panel-heading clearfix christmas_heading">
                    <h3 class="panel-title">Christmas</h3>
                    <p class="list-group-item-text">Only 140 days left!</p>
                    <button ng-click="modalOpen(lg, card)" class="btn btn-stretch">View Cards</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 tile grid-item">
        <div class="panel panel-default christmas_panel">
            <div class="list-group">
                <div class="card-thumbnail">
                    <img src="images/cards/present_yourself.png" alt=""> </div>
                <div class="panel-heading clearfix christmas_heading">
                    <h3 class="panel-title">Christmas</h3>
                    <p class="list-group-item-text">Only 140 days left!</p>
                    <button ng-click="modalOpen(lg, card)" class="btn btn-stretch">View Cards</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 tile grid-item">
        <div class="panel panel-default christmas_panel">
            <div class="list-group">
                <div class="card-thumbnail">
                    <img src="images/cards/present_yourself.png" alt=""> </div>
                <div class="panel-heading clearfix christmas_heading">
                    <h3 class="panel-title">Christmas</h3>
                    <p class="list-group-item-text">Only 140 days left!</p>
                    <button ng-click="modalOpen(lg, card)" class="btn btn-stretch">View Cards</button>
                </div>
            </div>
        </div>
    </div>
</div>
