<div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".grid-item"}' class="grid" class="row cards-row">
    <div class="col-lg-3 col-md-6 col-sm-12 tile grid-item" ng-repeat="card in cards | orderBy : '-card_rating' | limitTo:16">
        <div class="panel panel-default {{ card.card_category | lowercase }}_panel">
            <div class="list-group">
                <div class="card-thumbnail">
                    <img src="images/cards/{{card.card_image}}" alt=""> </div>
                <div class="panel-heading clearfix {{card.card_category | lowercase }}_heading">
                    <h3 class="panel-title">{{card.card_title}}</h3>
                    <p class="list-group-item-text">{{card.card_category}}</p>
                    <!-- ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK ON CLEEK -->
                    <span class="hearts">
                                <?xml version="1.0" encoding="utf-8"?>
                               <!DOCTYPE svg><svg class="heart-icon" ng-class="{'heart': isActive}" ng-click="plusOne(card); isActive = !isActive;"  fill="#999" version="1.1" 
                                xmlns="http://www.w3.org/2000/svg" 
                                class="heart-icon"
                                xmlns:xlink="http://www.w3.org/1999/xlink" 
                                x="0px" y="0px" 
                                viewBox="-12.058 0.441 100 109.37625" 
                                enable-background="new -12.058 0.441 100 87.501" 
                                xml:space="preserve" width="6%">
                                <path d="M0.441,50.606c-8.714-8.552-12.499-17.927-12.499-26.316c0-14.308,9.541-23.849,24.011-23.849
                                c13.484,0,18.096,6.252,25.989,15.297C45.836,6.693,50.44,0.441,63.925,0.441c14.477,0,24.018,9.541,24.018,23.849
                                c0,8.389-3.784,17.765-12.498,26.316L37.942,87.942L0.441,50.606z"/></svg>
                                <p>{{card.card_rating}}</p>
                                </span>
                    <button ng-click="modalOpen(lg, card)" class="btn btn-stretch">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
